form fieldset{
    display: grid;
    column-count: 2;
    width: 30%;
    margin-left: 30%;
    background-color: rgb(231, 220, 120);
}

legend{
    text-align: center;
    font-size: x-large;
}

legend, label{
    font-weight: bold;
}

input{
    width: 35%;
}

button{
    width: 20%;
}