body{
    width: 100% !important;
}

.jumbotron{
    background:#EAF2F8  !important;
    position:relative;
    text-align:center;
}

#items{
    margin-top: 20px; 
    margin-left: 10px;
}

.card{
    width:30%; 
    margin-left:15px; 
    margin-bottom:15px;
}

aside{
    margin-top: 20px; 
}

.display-1{
    color: red;
}

.list-group-item{
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.list-group-item button{
    height: 25px;
}

/* @media screen and (min-width: 375px) and (max-width: 667px) and (orientation : portrait) {
    #items{
        display: flex;
        flex-direction: column
    }
} */

/*https://www.youtube.com/watch?v=ZvgaSmLuIAQ*/